html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  background: #F5F5F5;
  
}

a {
  color: inherit;
  text-decoration: none;
}



* {
  box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
  html,
  body {
    font-size: 12px;
  }
}

h2 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

h1 {
  font-weight: 700;
  font-size: 3.4em;
  line-height: 1em;
}

h2 {
  font-weight: 400;
  font-size: 2.6em;
  line-height: 1em;
}

h3 {
  font-weight: 800;
  font-size: 1.8em;
  line-height: 1em;
  margin-left: 0em;
}

h4 {
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1em;
}

pre {
  overflow-y: scroll;
  width: 100%;
  background: #04082B;
  padding: 1em 2rem 1em 2rem;
  border-radius: 8px;
  color: #fff;
  font-size: 0.8em;
}

ul {
  margin-left: 1em;
  padding: 0;
  padding-left: 1em;
}

ul>* {
  margin-top: 1em;
  margin-bottom: 1em;
}

li::marker{
  padding-right: 1em;
}

caption {
  width: 750px;
  font-size: 0.8em;
}

.twitter-tweet {
  margin: auto;
}


.subMenu {
  position: -webkit-sticky;
  position: sticky;
  top: 78px;
  background: white;
  width: 100%;
  z-index: 5;
  padding-top: 1em;
  padding-bottom: 1em;
}

.footlink {
  padding: 0.1em 0.5em 0.1em 0.5em;
  border-radius: 1em;
  transition: background 1s, box-shadow 1s;
  color: #2F20D6;
  font-size: 10px;
  box-shadow: 0px 0px 8px 8px #F5F5F5;
}

.footlink:hover {
  background: #E3E1F9;
  cursor: pointer;
  box-shadow: 0px 0px 6px 6px #E3E1F9;
}

.transition-animation {

}

@keyframes introanimation {
  0% {
    left: 200vw;
    width: 0%;
  }
  25% {
    left: 0vw;
    width: 200vw;
  }
  50% {
    left: -50vw;
    width: 0;
  }
}

@keyframes outroanimation {
  0% {
    left: -50vw;
    width: 0%;
  }
  25% {
    left: -50vw;
    width: 200vw;
  }
  50% {
    left: 200vw;
    width: 0%;
  }
}

@keyframes buttonappear {
  0% {
    opacity: 0;
    visibility: hidden;
    margin: 0;
    padding-left: 0em;
    width: 0px;
    color: transparent;
    border-radius: 35px;
    height: 0px;
  }
  100%{
    color: transparent;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    padding: 0em;
    padding-bottom: 0em;
    margin: 0em;
    margin-bottom: 0em;
    line-height: 0em;
    font-size: 0em;
  }
  25% {
    font-size: 1.4rem;
    opacity: 0;
    padding: 0.5em 1em 0.5em 1em;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
    padding: 0.5em 1em 0.5em 1em;
    margin-bottom: 0em;
    line-height: 2rem;
    font-size: 1.4rem;
  }
}

@keyframes appearb {
  0% {
    opacity: 0;
    padding: 0em;
    padding-bottom: 0em;
    margin: 0em;
    margin-bottom: 0em;
    line-height: 0em;
    font-size: 0em;
  }
  25% {
    font-size: 1.2em;
    opacity: 0;
    padding: 0.35em 0em 0.35em 0.75em;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
    padding: 0.35em 0em 0.35em 0.75em;
    margin-bottom: 0em;
    line-height: 1.8rem;
    font-size: 1.2em;
  }
}

@keyframes appearc {
  0% {
    opacity: 0;
    height: 0em;
  }
  25% {
    opacity: 0;
    height: 0em;
  }
  100% {
    opacity: 1;
    height: 190px;
  }
}

@keyframes appeard {
  0% {
    opacity: 0;
    height: 0em;
    width: 0em;
  }
  25% {
    opacity: 0;
    height: 0em;
    width: 0em;
  }
  100% {
    opacity: 1;
    height: 150px;
    width: 100%;
    max-width: 300px;
  }
}

@keyframes select {
  0% {
    margin-left: -1em;
  }
  50% {
    margin-left: 1em;
  }
  100% {
    margin-left: -1em;
  }
}

.animationInternal {
  padding: 0em;
  margin: 0em;
}

.animationInternal>* {
  height: 0px;
}

.workHold {
  display: grid;
  grid-template-columns: 62.66% 16.66% 16.66%;
  gap: 2%;
  margin-top: 4em;
  padding-left: 4em;
  padding-right: 4em;
}

.sectionTitle {
  border-bottom: 1px solid #D0D0D0;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.qhold {
  width: 80%;
  text-align: right;
  background: red;
}


.chatHold {
  display: flex;
  flex-flow: column;
  overflow-y: scroll; /* or overflow-y: auto */
  height: 100%;
  
}

.chat {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column-reverse;
  background: #F4F4F4;
  overflow-y: scroll; /* or overflow-y: auto */
  width: 100%;
 
}

.dSpan {
  padding: 0.5em;
  background: #E7EAEE;
  border-radius: 0.5em;
  color: #39435B;
  margin: 1em;
  opacity: 1;
  animation-name: appear;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

.dhold {
  margin: 0;
  padding: 0;
}

.questionHold {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 900px;
  min-height: 35px;
  gap: 0.5em;
  padding: 1em;
  background: #ECECEC;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 8px 8px 0px 0px;
}


.wrapper {
  width: 100%;
  color: #39435B;
  counter-reset: sidequote;
}

.sideQuote {
  color: var(--primary);
  float: right;
  clear: right;
  margin-right: -310px;
  font-size: 0.8em;
  padding: 0.2em;
  line-height: 1.5em;
  width: 280px;
  font-style: normal;
}

.underQuote {
  color: var(--primary);
  float: right;
  clear: right;
  margin-right: -310px;
  font-size: 0.8em;
  padding: 0.2em;
  line-height: 1.5em;
  width: 280px;
  font-style: normal;
}

.sideQuote::before{
  content: counter(sidequote) ".\A";
  white-space: pre;
  font-size: 2em;
  padding-bottom: 1em;
  font-weight: 800;
}

.underQuote::before{
  content: counter(sidequote) ".\A";
  white-space: pre;
  font-size: 2em;
  padding-bottom: 1em;
  font-weight: 800;
}

.quoteNum::after {
  counter-increment: sidequote;
  content: " " counter(sidequote);
  color: var(--primary);
  vertical-align: super;
  font-size: 0.7em;
  cursor: pointer;
}

.wrapper {
  max-width: 880px;
  font-size: 1.4em;
  line-height: 1.8em; 
}

.wrapper > img {
  width: 100%;
}

.wrapper>*:not(img):not(iframe):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(pre):not(div) {
  max-width: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
}

.wrapper>iframe {
  width: 100%;
  height: 70vh;
}


.wrapper>*>a {
  color:  #04082B;
  box-shadow: inset 0px -6px 0px #DEDBFF;
  transition: box-shadow 1s;
}

.wrapper>*>a:hover {
  box-shadow: inset 0px -1.2em 0px #DEDBFF;
}


.wrapper>blockquote {
  font-style: italic;
  border-left: 1px solid #879dff;
  padding-left: 1em;
  margin-left: 1em;
  margin-right: 2em;
  max-width: 750px;
}

.wrapper>*>code {
  font-size: 0.8em;
  background: #04082B;
  color: #fff;
  padding: 0.2em 2em 0.2em 2em;
  border-radius: 4px;
  max-width: 750px;
}


.wrapper>p:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
  line-height: 1.8em; 
}

.wrapper>p>.highlight {
 background: rgb(200, 200, 255);
}

.wrapper>h1,h2,h3,h4,h5,h6 {
  color: #04082B;
  margin: 0;
  max-width: 750px;
  padding-left: 2rem;
  line-height: 1.2em;
}

.wrapper>div {
  width: 100%;
}


.projgrid {
  width: 100%;
  max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  padding-top: 0px;
  padding-left: 1em;
  padding-bottom: 0em;
  margin: 0;
}

@media screen and (max-width: 1400px) {
  .projgrid {
    grid-template-columns: 1fr;
    
  }

  .wrapper>*:not(img):not(iframe):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(pre):not(div) {
    max-width: 100%;
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .wrapper>p {
    padding-left: 1em;
    padding-right: 1em;
  }

  .wrapper { 
    max-width: 100vw;
  }

  caption {
    width: 100%;
  }

  pre {
    width: 100%;
    padding: 1em;
    border-radius: 0;
  }

  .wrapper>blockquote {
    margin-left: 1em !important;
    margin-right: 1em !important;
  }

  .wrapper>ul,ol {
    margin-left: 1em !important;
    margin-right: 1em !important;
  }
}

.none {
  border: none;
  background: none;
  cursor: pointer;
  text-align: left;
  margin: 0;
  padding: 0;
}

.hidden {
  opacity: 0;
  height: 0px;
  pointer-events: none;
  margin-top: 0;
  transition: opacity 0.5s;
}

.nothidden {
  opacity: 1;
  margin-top: 0;
  height: auto;
  transition: opacity 1s;
}

#activate {
  margin-left: 0.5em;
  transition: margin-left 1s;
}

@keyframes ddown {
  0% {
    opacity: 0;
    margin-top: -100vh;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.svghold {
  transition: transform 0.5s;
  }
  
  .svgrotate {
      transform: rotate(0.5turn);
      transition: transform 0.5s;
  }

@media screen and (max-width: 1000px)  {
  .projgrid {
    grid-template-columns: 1fr;
  }

  .chatHold {
    max-width: 100%;
    padding: 0em;
    overflow-y: scroll; /* or overflow-y: auto */
    height: 100%;
    display: flex;
  flex-flow: column;
  }

  h2 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 2em;
  }

  .questionHold {
    margin-left: 0em;
    margin-right: 0em;
    border-radius: 0em;
  }

  .projgrid {
    width: 100vw;
    max-height: 60vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    display: flex;
    z-index: 8;
    gap: 0em;
    padding: 0;
  }

  .sideQuote {
    display: none;
  }

  .underQuote {
    color: var(--primary);
    float: left;
    clear: both;
    margin-right: 0px;
    font-size: 0.8em;
    font-family: "publicSans", sans-serif;
    padding: 0.2em;
    line-height: 1.5em;
    width: 100%;
    animation-name: appear;
    animation-duration: 1s;
    animation-fill-mode: backwards;
  }

  .underQuote::before{
    content: counter(sidequote) ". ";
    font-size: 1em;
  }

}
